.wrapper {
    width: 800px;
    margin-left: 20%;
}

.slider {
position: relative;
padding: 0px 60px;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {}
/* Лента слайдов */
.slick-track{
    align-items: flex-start;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{
    background: rgb(147, 150, 255);
    width: 45px;
    height: 25px;
    border-radius: 6px;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
    background: rgb(147, 150, 255);
    width: 45px;
    height: 25px;
    border-radius: 6px;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{

}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider {
    position: relative;
}

.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.slider .slick-arrow.slick-prev {
    left: 0;
}

.slider .slick-arrow.slick-next {
    right: 0;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
}

.slider__item img {
    width: 790px;
    height: 343px;
    margin: 0 auto;
    margin-bottom: 20px;
}