* {
  box-sizing: border-box;
}

body {
  background: #F4F4F4;
  font-family: "Montserrat", sans-serif !important;
}

.container {
  max-width: 1900px;
}

.form-search a {
  margin: 0 20px;
}

.content {
  height: 827px;
  background-color: #a7bba2;
}

.contentTect {
  background: #111;
}

.line-content {
  width: 100%;
  height: 5px;
  background-color: rgb(159, 159, 159);
}

.content__cards {
  display: flex;
}


.about-text {
  padding-top: 80px;
  font-weight: lighter;
}

.line {
  width: 30%;
  height: 2px;
  background-color: rgb(255, 255, 255);
}


.but {
  width: 30%;
  margin-left: 35%;
  border-radius: 12px;
  font-size: 22px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-content {
  background-color: #222222;
  height: 1920px;
}

.line-card {
  height: 4px;
  background-color: white;
}

.cards-wrapper {
  border: 15px;
}


.wrapper-form {
  margin-top: 25px;
  background-color: #a7bba2;
}

.text_info {
  font-size: 18px;
}

.card {
  margin-right: 12px;
}

.content__text p {
  font-size: 18px;
}

.inf {
  font-size: 18px;
}

.ner {
  font-size: 75px;
}



.info-target {
  position: absolute;
  margin: 0 auto;
  top: 50%;
}


.headContent {
  height: 2200px;
}

.videoDan {
  height: 800px;
}


.headContent {
  background: rgb(243, 243, 243);
}

.facebook {
  display: flex;
  align-items: center;
  background-color: #0037ff;
}

.facebook__image img {
  width: 450px;
  margin-left: 65px;
  margin-top: 55px !important;
}

.facebook__image {
  background: white;
}

.facebook__background {
  color: white;
  width: 800px;
  height: 600px;
}

.facebook__background h1 {
  font-size: 60px;
  margin-top: 80px;
}

.facebook__background p {
  font-size: 18px;
  width: 559px;
  padding-top: 30px;
}

.facebook__text {
  font-size: 20px;
  color: #222222;
  margin-top: 45px !important;
}

.facebook__line {
  width: 320px;
  height: 4px;
  background-color: #0037ff;
  margin-left: 46px;

}

.lines_end {
  width: 100%;
  height: 4px;
  background: #222222;
  opacity: 0.4;
}

.sound {
  background: #000;
}

.sound__heading {
  position: absolute;
}

.sound__heading h1 {
  margin-top: 78px;
  font-size: 78px;
  text-align: center;
}

.sound__heading p {
  font-size: 20px;
  text-align: center;
}

.sound__button {
  padding-left: 40%;
}

.text__grace {
  background: #434343;
}

.text__heading {
  position: absolute;
  margin-top: 50%;
}

.text__heading h1 {
  font-size: 44px;
  font-weight: 700;
}

.text__heading p {
  font-size: 18px;
  line-height: 37px;
}

.med {
  height: 1000px;
  margin-bottom: 25px;
}

.prog {
  background: #000;
  margin-top: 125px;
}


.prog__heading {
  margin-left: 45px;
  margin-top: 45px;
  color: #ffffff;
  position: absolute;
  margin-top: 20%;
}

.prog__heading h1 {
  font-size: 64px;
  font-weight: 700;
}

.prog__heading p {
  font-size: 18px;
  font-weight: 300;
}

.videoAnalitick {
  margin-top: 60px;
  text-align: center;
  margin-bottom: 75px;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 0 #000000;
  transition: .3s;
}

.infoPage {
  height: 800px;
}

.nameEdit {
  margin-top: 68px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.name {
  top: 28px;
  font-size: 24px;
  text-align: center;
}

.Facult {
  text-align: center;
  font-size: 18px;
}

.informatics {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.lab {
  font-size: 24px;
  text-align: center;
}

.leftBox {
  text-align: right;
  margin-top: 15%;
  font-size: 18px;
  margin-bottom: 54px;
}

.paddingText {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}